<!-- Navigation -->
<nav class="navbarContainer">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <header class="mainHeader">
        <nav>
          <ul class="nav_links">
            <li><a routerLink="/index">Home</a></li>
            <li><a routerLink="/index">Contact</a></li>
            <li><a routerLink="/index">About </a></li>
          </ul>
        </nav>
        <a class="cta"><button mat-raised-button color="primary">Contact</button></a>
      </header>
    </div>
  </div>
</nav>
<!-- Body -->
<div class="body">
  <header class="masthead">
    <div>
      <p>
        <app-index></app-index>
      </p>
    </div>
  </header>
</div>