<div class="header">
  <img src="https://scontent.ftun15-1.fna.fbcdn.net/v/t1.6435-9/75380356_2255212207923860_7919195403424104448_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_ohc=2X7-wP8xrUUAX-vxHCE&tn=e4Ofy9hf-JNpJw0D&_nc_ht=scontent.ftun15-1.fna&oh=7f002e65fd7f8cd52bf9f1ce923e6516&oe=6199AB95"
  width="25%" height="25%" alt="Chadi's picture" class="mainPicture">
  <h3 class="title">Chadi Ayari</h3>
</div>
<div>
  <ul>
    <li>
      Email: <a href = "mailto: abc@example.com">chadiayari@outlook.com</a>
    </li>
    <li>
      <i class="fa fa-linkedin-square" style="font-size:24px"></i>
      LinkedIn: <a href="https://www.linkedin.com/in/chadi-ayari-7a11a6157/">Chadi Ayari</a>
    </li>
    <li>
      WhatsApp: <a href="https://wa.me/21653180256">+216 53 180 256</a>
    </li>
  </ul>
</div>
<div>
  <button mat-raised-button (click)="onNoClick()" color="primary">Close</button>
</div>
