<div class="header">
  <img src="https://scontent.ftun15-1.fna.fbcdn.net/v/t1.6435-9/75380356_2255212207923860_7919195403424104448_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=174925&_nc_ohc=2X7-wP8xrUUAX-vxHCE&tn=e4Ofy9hf-JNpJw0D&_nc_ht=scontent.ftun15-1.fna&oh=7f002e65fd7f8cd52bf9f1ce923e6516&oe=6199AB95"
  width="25%" height="25%" alt="Chadi's picture" class="mainPicture">
  <h3 class="title">Chadi Ayari</h3>
  <p>5th year student of Software Engineering</p>
</div>
<div>
      <a href="mailto: chadiayari@outlook.com">
        <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/chadi-ayari-7a11a6157/">
        <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
      </a>
      <a href="https://wa.me/21653180256">
        <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
      </a>
  
</div>
<div>
  <button mat-raised-button (click)="onNoClick()" color="primary">Close</button>
</div>
